<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- recherche du fichier de properties -->
	<context:property-placeholder location="classpath*:sgbd.properties" />

	<!-- bean dataSource = bean de source des données, ou se retrouvent les 
		données à manipuler dans mon application -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- propriété driver -->
		<property name="driverClassName" value="${db.driver}" />
		<!-- propriété url -->
		<property name="url" value="${db.url}" />
		<!-- propriété username -->
		<property name="username" value="${db.user}" />
		<!-- propriété mot de passe -->
		<property name="password" value="${db.password}" />
	</bean>

<!-- definition de l'entityManagerFactory pour JPA -->
<bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" primary="true"> 
        <property name="persistenceUnitName" value="testPU" />
        <property name="dataSource" ref="dataSource" />
    </bean>

	<!-- définition du gestionnaire de transactions faisant référence au bean entityManagerFactory de JPA -->
    <bean id="transactionManagerJPA" class="org.springframework.orm.jpa.JpaTransactionManager"> 
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <!-- CONFIG SPRING DATA -->
    <jpa:repositories base-package="com.huios.dao" entity-manager-factory-ref="entityManagerFactory" transaction-manager-ref="transactionManagerJPA"/>
    
	<!-- pour utiliser les annotations spring -->
	<context:annotation-config />
	<!-- package contenant les classes annotées spring -->
	<context:component-scan base-package="com.huios" />

		<!-- prise en compte du gestionnaire de transaction pour @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManagerJPA"/>
</beans>
